---
import Layout from "../layouts/Layout.astro";
import { getPage } from "../lib/contentstack";

const params = Astro.url.searchParams;
const live_preview = params.get("live_preview");
const content_type_uid = params.get("content_type_uid");
const entry_uid = params.get("entry_uid");

const page =
  live_preview &&
  content_type_uid &&
  entry_uid &&
  (await getPage(live_preview, content_type_uid, entry_uid));
---

<script>
  import ContentstackLivePreview from "@contentstack/live-preview-utils";

  const apiKey = "blte766efb491f96715";
  const deliveryToken = "cs620decb0e6bb175e31210ce9";
  const environment = "preview";
  const region = "eu";
  const previewToken = "csa128deacffe0b26386090915";
  const livePreviewHost = "eu-rest-preview.contentstack.com";
  const appHost = "eu-app.contentstack.com";

  ContentstackLivePreview.init({
    ssr: true,
    enable: true,
    stackSdk: {
      apiKey,
      deliveryToken,
      environment,
      region,
      live_preview: {
        enable: true,
        preview_token: previewToken,
        host: livePreviewHost,
      },
    },
    stackDetails: {
      apiKey,
      environment,
    },
    clientUrlParams: {
      host: appHost,
    },
    editButton: {
      enable: true,
    },
  });
</script>

<Layout title="Welcome to Astro.">
  <main class="max-w-screen-2xl mx-auto">
    <section class="p-4" id="wrapper">
      {
        page?.title ? (
          <h1 class="text-4xl font-bold mb-4" {...(page?.$ && page?.$.title)}>
            {page?.title}
          </h1>
        ) : null
      }

      {
        page?.description ? (
          <p class="mb-4" {...(page?.$ && page?.$.description)}>
            {page?.description}
          </p>
        ) : null
      }

      {
        page?.image ? (
          <img
            class="mb-4"
            width={500}
            src={page?.image.url}
            alt={page?.image.title}
            {...(page?.image?.$ && page?.image?.$.url)}
          />
        ) : null
      }
      {
        page?.rich_text ? (
          <div {...(page?.$ && page?.$.rich_text)} set:html={page?.rich_text} />
        ) : null
      }
    </section>
  </main>
</Layout>
